[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/meme"]
	path = themes/meme
	url = https://hub.nuaa.cf/reuixiy/hugo-theme-meme.git
